* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: grey;
}

nav {
  background-color: purple;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 5em;
  list-style: none;
}

nav ul a {
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}

nav > a {
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 40px auto;
}

.text-between-image {
  max-width: 400px;
  text-align: center;
}

.pageformat {
  text-align: center;
  margin-top: 120px;
}

#blackcat,
#hamster1 {
  width: 230px;
  height: 230px;
  object-fit: cover;
  margin-top: 57px;
}

@media (max-width: 900px) {
  .image-row {
    flex-direction: column;
    text-align: center;
  }
}
