* {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: purple;
}

body {
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 1280px;
  margin: auto;
}

.navbar {
  width: 95%;
  margin: auto;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 50px;
}

.Home,
.About,
.Contact,
.Login {
  height: 720px;
  margin-top: 70px;
  border: 1px solid black;
}

.About,
.Contact {
  margin-top: 0;
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}
